@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="VehicleMake" asp-action="Index" class="btn btn-primary">View Vehicles</a>
    <a asp-controller="VehicleModel" asp-action="Index" class="btn btn-primary">View Vehicle models</a>
</div>